[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
social-auth-app-django = "*"
requests = "*"
django-debug-toolbar = "*"
django-debug-toolbar-template-profiler = "*"

[dev-packages]

[requires]
python_version = "3.9"
